---
import { Image } from 'astro:assets';

interface Props {
  linkText: string;
  imageOne:string;
  imageTwo:string;
}
const { linkText, imageOne, imageTwo } = Astro.props;
---

<section class="py-12 text-center">
  <h1 class="yellowText text-5xl italic uppercase">About Us</h1>
  <p class="text-white text-lg italic bold mx-40">
    Transform Fit Coaching was founded to prioritize your mental and physical health, bringing both to the forefront of your fitness journey. 
    We are passionate about helping men become the best versions of themselves and are committed to supporting you every step of the way.<br><br>
    
    At Transform Fit Coaching, we focus on building a strong community of like-minded individuals who encourage and support 
    each other in achieving their personal goals. By offering both in-person one-to-one and online coaching, we aim to 
    provide you with the best, personalised experience for your development. <br><br>

    Join us to transform not just your body, but your mind, and be part of a community dedicated to holistic well-being and lasting change.
  </p>
  <div class="grid grid-cols-1 md:grid-cols-3">
  
  </div>
  </section>