---
import { Image } from 'astro:assets';

interface Props {
  linkText: string;
  imageOne:string;
  imageTwo:string;
}
const { linkText, imageOne, imageTwo } = Astro.props;
---

<section class="py-12 text-center">
  <h1 class="yellowText text-5xl italic uppercase">About Us</h1>
  <p class="text-white text-lg italic bold mx-40">
    Transform Fit Coaching was founded to bring your mental and physical health to the forefront.
    We care about you becoming the best version of yourself and want to support you every step of
    the way. <br><br>
    We are focusing on building a community of like minded individuals to help and encourage each other
    to acheive their own goals.
  </p>
  <div class="grid grid-cols-1 md:grid-cols-3">
  
  </div>
  </section>