---
interface Props {
  callToAction: string;
}

const { callToAction } = Astro.props;
const imageURL = "gym-ropes.jpg";
const bgStyle = { backgroundImage: `url('/images/${imageURL}')` };

---

<footer
  class="bg-cover bg-no-repeat bg-gray-700 bg-blend-multiply"
  style={bgStyle}
>
  <div class="mx-auto max-w-screen-xl">
    <header>
      <nav class="text-white uppercase pt-8 p-4 font-bold2">
      </nav>
      <div class="px-3 mx-auto max-w-screen-xl text-center py-18 text-white">
      
          <h1 class="font-extrabold text-9xl tracking-wide mb-4 uppercase italic">Transform Fit Coaching</h1>
      </div>
      
    </header>
    <h1
      class="font-extrabold text-3xl yellowText tracking-wide uppercase italic pt-10 mx-auto max-w-xl"
    >
      {callToAction}
      <p class="text-white text-xs">
         in a 15 min call to discuss your fitness journey
      </p>
      
    </h1>
    <!-- Calendly inline widget begin -->
    <div class="calendly-inline-widget mx-80 pt-1" data-url="https://calendly.com/joshg2550/1-to-1-fitness-call?primary_color=f5cb5c" style="min-width:320px;height:300px;width:350px;"></div>
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
    <!-- Calendly inline widget end -->
  </div>
  
</footer>