---

import logo from '../../public/images/logo.jpg';

interface Props {
  callToAction: string;
}

const { callToAction } = Astro.props;
const imageURL = "gym-ropes.jpg";
const bgStyle = { backgroundImage: `url('/images/${imageURL}')` };


---

<footer
  class="bg-cover bg-no-repeat bg-gray-700 bg-blend-multiply"
  style={bgStyle}
>
  <div class="mx-auto max-w-screen-xl">
    <header> 
      <nav class="text-white uppercase pt-8 p-4 font-bold2">
      </nav>

      
      <div class="px-3 mx-auto max-w-screen-xl text-center py-24 text-white">
      
        <img class="" src={logo.src} alt="TFC logo" />

      </div>
      
    </header>
    <h1
      class="font-extrabold text-3xl yellowText tracking-wide uppercase max-w-xl text-center mx-auto"
    >
      {callToAction}
      <p class="text-white text-xs text-center">
        Book a 15 min call to discuss your fitness journey
      </p>
      <!-- Calendly inline widget begin -->
      <div class="calendly-inline-widget" data-url="https://calendly.com/transformfituk/fitness-1-to-1?primary_color=f5cb5c" style="min-width:320px;height:700px;"></div>
      <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
      <!-- Calendly inline widget end -->
    </h1>
    
  </div>
  
</footer>