---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Anton&family=Hanken+Grotesk:wght@300;400&display=swap" rel="stylesheet">	<meta name="generator" content={Astro.generator} />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<title>{title}</title>

	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	section{
		background-color: #141414;
	}
	h1, h2,li{
		font-family: 'Anton', 'sans-serif';
	}
	p{
		font-family: 'Hanken Grotesk','sans-serif';
	}
	.yellowBG{
		background-color:#F5CB5C;
	}
	.yellowText{
		color:#F5CB5C;
	}
</style>

<!-- #F5CB5C